<ion-view view-title="Atención">
  <ion-content class="padding">
   
<div class="card" ng-controller="SplashCtrl" >
    <div class="item item-avatar">
        <img src="../img/user.png">
        <h2>Atención</h2>
    </div>
    <div class="item item-body">
       <center> <img class="full-image" src="../img/atencion.png"></center>
        Sr. Usuario, recuerde que nosotros <b>No somos un servicio de emergencia</b>. Nuestra servicio es para facilitar el acceso al servicio de salud, mediante previa cita y confirmación de la misma.<br/>
        Por tanto, no podremos atender a ninguna solicitud de emergencia que realice uno de nuestros usuarios a través de la App.

        </div>
        <div class="item item-divider">
      <button  id="splash-button3" class="button button-positive  button-block button-positive icon-left ion-android-person-add" ng-click="redirSplash();" style="font-weight:500;font-style:italic;color:#000000;font-size:16px;border-radius:1px 1px 1px 1px;">Lo entiendo!!</button>
    </div>
</div>
  </ion-content>
</ion-view>
